In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'x':[30,40,50],
    'y':['Apl','Or','Wm']
}

df = pd.DataFrame(data)
df

    x    y
0  30  Apl
1  40   Or
2  50   Wm

In [3]:
df['x_mod']=df['x'].apply(lambda x: x**2)
df

    x    y  x_mod
0  30  Apl    900
1  40   Or   1600
2  50   Wm   2500